.headerRow {
	display: table-row;
}

.headerHeaderCell {
	display: table-cell;
	font-weight: bold;
	padding-right: 0.5cm;
}

.headerDataCell {
	display: table-cell;
	padding-right: 0.5cm;
}

#masterOutline {
    list-style: none;
    margin-left: 0px;
    padding-left: 0px;
}

.suboutline {
    display: none;
    list-style: none;
    padding-left: 30px;
}

.listMarker {
    vertical-align: middle;
    padding-right: 5px;
}

.fileIcon {
    vertical-align: middle;
}

.fileListing {
    padding-left: 3px;
    vertical-align: middle;
}

.fileSize {
	text-align: right;
	float: right;
}