<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>13F34</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>QLGenerator</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.pozdeev.invisor.dat</string>
				<string>com.pozdeev.invisor.divx</string>
				<string>com.pozdeev.invisor.mkv</string>
				<string>com.pozdeev.invisor.mxf</string>
				<string>com.pozdeev.invisor.ogv</string>
				<string>com.pozdeev.invisor.ogx</string>
				<string>com.pozdeev.invisor.realmedia</string>
				<string>com.pozdeev.invisor.swf</string>
				<string>com.pozdeev.invisor.vc1</string>
				<string>com.pozdeev.invisor.vro</string>
				<string>com.pozdeev.invisor.webm</string>
				<string>com.pozdeev.invisor.xvid</string>
				<string>com.pozdeev.invisor.yuv</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>QLGenerator</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.pozdeev.invisor.ac3</string>
				<string>com.pozdeev.invisor.ape</string>
				<string>com.pozdeev.invisor.dts</string>
				<string>com.pozdeev.invisor.mka</string>
				<string>com.pozdeev.invisor.musepack</string>
				<string>com.pozdeev.invisor.oga</string>
				<string>com.pozdeev.invisor.opus</string>
				<string>com.pozdeev.invisor.realaudio</string>
				<string>com.pozdeev.invisor.s3m</string>
				<string>com.pozdeev.invisor.speex</string>
				<string>com.pozdeev.invisor.tta</string>
				<string>com.pozdeev.invisor.wavpack</string>
				<string>com.pozdeev.invisor.xm</string>
				<string>org.xiph.flac</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>QLGenerator</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.avi</string>
				<string>com.microsoft.windows-media-wmv</string>
				<string>com.real.realmedia</string>
				<string>com.real.realmedia-vbr</string>
				<string>org.niltsh.mplayerx-matroska-video</string>
				<string>org.niltsh.mplayerx-mxf</string>
				<string>org.niltsh.mplayerx-ogg-video</string>
				<string>org.niltsh.mplayerx-flash-video</string>
				<string>com.massanti.mediainfomac.matroska</string>
				<string>com.massanti.mediainfomac.ogv</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>QLGenerator</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.microsoft.windows-media-wma</string>
				<string>com.real.realaudio</string>
				<string>org.niltsh.mplayerx-ac3</string>
				<string>org.niltsh.mplayerx-flac</string>
				<string>org.niltsh.mplayerx-monkeyaudio</string>
				<string>org.niltsh.mplayerx-matroska-audio</string>
				<string>org.niltsh.mplayerx-ogg</string>
				<string>com.massanti.mediainfomac.ac3</string>
				<string>com.massanti.mediainfomac.flac</string>
				<string>com.massanti.mediainfomac.ogg</string>
				<string>com.massanti.mediainfomac.true-audio</string>
			</array>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>InvisorQL</string>
	<key>CFBundleIdentifier</key>
	<string>com.pozdeev.invisor.quicklook</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>InvisorQL</string>
	<key>CFBundleShortVersionString</key>
	<string>1</string>
	<key>CFBundleVersion</key>
	<string>2.0</string>
	<key>CFPlugInDynamicRegisterFunction</key>
	<string></string>
	<key>CFPlugInDynamicRegistration</key>
	<string>NO</string>
	<key>CFPlugInFactories</key>
	<dict>
		<key>E7152D34-4C64-4DCD-8E96-5103028732BA</key>
		<string>QuickLookGeneratorPluginFactory</string>
	</dict>
	<key>CFPlugInTypes</key>
	<dict>
		<key>5E2D9680-5022-40FA-B806-43349622E5B9</key>
		<array>
			<string>E7152D34-4C64-4DCD-8E96-5103028732BA</string>
		</array>
	</dict>
	<key>CFPlugInUnloadFunction</key>
	<string></string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>5B1008</string>
	<key>DTPlatformVersion</key>
	<string>GM</string>
	<key>DTSDKBuild</key>
	<string>13C64</string>
	<key>DTSDKName</key>
	<string>macosx10.9</string>
	<key>DTXcode</key>
	<string>0511</string>
	<key>DTXcodeBuild</key>
	<string>5B1008</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2014 Max Pozdeev. All rights reserved.</string>
	<key>QLNeedsToBeRunInMainThread</key>
	<false/>
	<key>QLPreviewHeight</key>
	<real>600</real>
	<key>QLPreviewWidth</key>
	<real>700</real>
	<key>QLSupportsConcurrentRequests</key>
	<false/>
	<key>QLThumbnailMinimumSize</key>
	<integer>16</integer>
	<key>UTImportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.movie</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Invisor's Supported Movie</string>
			<key>UTTypeIdentifier</key>
			<string>com.pozdeev.invisor.movie</string>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.audio</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Invisor's Supported Audio</string>
			<key>UTTypeIdentifier</key>
			<string>com.pozdeev.invisor.audio</string>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.pozdeev.invisor.movie</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Video CD Stream</string>
			<key>UTTypeIdentifier</key>
			<string>com.pozdeev.invisor.dat</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>dat</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.pozdeev.invisor.movie</string>
			</array>
			<key>UTTypeDescription</key>
			<string>DivX Movie</string>
			<key>UTTypeIdentifier</key>
			<string>com.pozdeev.invisor.divx</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>divx</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.pozdeev.invisor.movie</string>
			</array>
			<key>UTTypeDescription</key>
			<string>DV Video</string>
			<key>UTTypeIdentifier</key>
			<string>com.pozdeev.invisor.dv</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>dv</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.pozdeev.invisor.movie</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Flash Video</string>
			<key>UTTypeIdentifier</key>
			<string>com.pozdeev.invisor.flashmovie</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>f4v</string>
					<string>flv</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.pozdeev.invisor.movie</string>
			</array>
			<key>UTTypeDescription</key>
			<string>BDAV MPEG-2 Transport Stream</string>
			<key>UTTypeIdentifier</key>
			<string>com.pozdeev.invisor.m2ts</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>m2t</string>
					<string>m2ts</string>
					<string>mts</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.pozdeev.invisor.movie</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Matroska Video</string>
			<key>UTTypeIdentifier</key>
			<string>com.pozdeev.invisor.mkv</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>mkv</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.pozdeev.invisor.movie</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Material Exchange Format</string>
			<key>UTTypeIdentifier</key>
			<string>com.pozdeev.invisor.mxf</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>mxf</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.pozdeev.invisor.movie</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Ogg Video</string>
			<key>UTTypeIdentifier</key>
			<string>com.pozdeev.invisor.ogv</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>ogm</string>
					<string>ogv</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.pozdeev.invisor.movie</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Ogg Multiplexed Media</string>
			<key>UTTypeIdentifier</key>
			<string>com.pozdeev.invisor.ogx</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>ogx</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.pozdeev.invisor.movie</string>
			</array>
			<key>UTTypeDescription</key>
			<string>RealMedia Video</string>
			<key>UTTypeIdentifier</key>
			<string>com.pozdeev.invisor.realmedia</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>rmvb</string>
					<string>rv</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.pozdeev.invisor.movie</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Small Web Format (Adobe Flash)</string>
			<key>UTTypeIdentifier</key>
			<string>com.pozdeev.invisor.swf</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>swf</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.pozdeev.invisor.movie</string>
			</array>
			<key>UTTypeDescription</key>
			<string>MPEG Transport Stream</string>
			<key>UTTypeIdentifier</key>
			<string>com.pozdeev.invisor.ts</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>ts</string>
					<string>tp</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.pozdeev.invisor.movie</string>
			</array>
			<key>UTTypeDescription</key>
			<string>VC-1 Video Codec</string>
			<key>UTTypeIdentifier</key>
			<string>com.pozdeev.invisor.vc1</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>vc1</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.pozdeev.invisor.movie</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Video Object (DVD-Video)</string>
			<key>UTTypeIdentifier</key>
			<string>com.pozdeev.invisor.vob</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>vob</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.pozdeev.invisor.movie</string>
			</array>
			<key>UTTypeDescription</key>
			<string>DVD Video Recording</string>
			<key>UTTypeIdentifier</key>
			<string>com.pozdeev.invisor.vro</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>vro</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.pozdeev.invisor.movie</string>
			</array>
			<key>UTTypeDescription</key>
			<string>WebM Movie</string>
			<key>UTTypeIdentifier</key>
			<string>com.pozdeev.invisor.webm</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>webm</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.pozdeev.invisor.movie</string>
			</array>
			<key>UTTypeDescription</key>
			<string>XviD Movie</string>
			<key>UTTypeIdentifier</key>
			<string>com.pozdeev.invisor.xvid</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>xvid</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.pozdeev.invisor.movie</string>
			</array>
			<key>UTTypeDescription</key>
			<string>YUV Video</string>
			<key>UTTypeIdentifier</key>
			<string>com.pozdeev.invisor.yuv</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>yuv</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.pozdeev.invisor.audio</string>
			</array>
			<key>UTTypeDescription</key>
			<string>ATRAC Audio</string>
			<key>UTTypeIdentifier</key>
			<string>com.pozdeev.invisor.aa3</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>aa3</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.pozdeev.invisor.audio</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Advanced Audio Coding</string>
			<key>UTTypeIdentifier</key>
			<string>com.pozdeev.invisor.aac</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>aac</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.pozdeev.invisor.audio</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Dolby Digital</string>
			<key>UTTypeIdentifier</key>
			<string>com.pozdeev.invisor.ac3</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>ac3</string>
					<string>a52</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.pozdeev.invisor.audio</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Interplay Audio</string>
			<key>UTTypeIdentifier</key>
			<string>com.pozdeev.invisor.acm</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>acm</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.pozdeev.invisor.audio</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Monkey's Audio</string>
			<key>UTTypeIdentifier</key>
			<string>com.pozdeev.invisor.ape</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>ape</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.pozdeev.invisor.audio</string>
			</array>
			<key>UTTypeDescription</key>
			<string>DTS Audio Codec</string>
			<key>UTTypeIdentifier</key>
			<string>com.pozdeev.invisor.dts</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>dts</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.audio</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Free Lossless Audio Codec</string>
			<key>UTTypeIdentifier</key>
			<string>org.xiph.flac</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>flac</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.pozdeev.invisor.audio</string>
			</array>
			<key>UTTypeDescription</key>
			<string>MIDI Audio</string>
			<key>UTTypeIdentifier</key>
			<string>com.pozdeev.invisor.midi</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>mid</string>
					<string>midi</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.pozdeev.invisor.audio</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Matroska Audio</string>
			<key>UTTypeIdentifier</key>
			<string>com.pozdeev.invisor.mka</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>mka</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.pozdeev.invisor.audio</string>
			</array>
			<key>UTTypeDescription</key>
			<string>MPEG Audio</string>
			<key>UTTypeIdentifier</key>
			<string>com.pozdeev.invisor.mpa</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>mpa</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.pozdeev.invisor.audio</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Musepack Audio</string>
			<key>UTTypeIdentifier</key>
			<string>com.pozdeev.invisor.musepack</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>mpc</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.pozdeev.invisor.audio</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Ogg Audio</string>
			<key>UTTypeIdentifier</key>
			<string>com.pozdeev.invisor.oga</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>oga</string>
					<string>ogg</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.pozdeev.invisor.audio</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Opus Audio</string>
			<key>UTTypeIdentifier</key>
			<string>com.pozdeev.invisor.opus</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>opus</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.pozdeev.invisor.audio</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Pulse Code Modulation (Raw Audio)</string>
			<key>UTTypeIdentifier</key>
			<string>com.pozdeev.invisor.pcm</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>pcm</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.pozdeev.invisor.audio</string>
			</array>
			<key>UTTypeDescription</key>
			<string>RealMedia Audio</string>
			<key>UTTypeIdentifier</key>
			<string>com.pozdeev.invisor.realaudio</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>ram</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.pozdeev.invisor.audio</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Scream Tracker 3 Module</string>
			<key>UTTypeIdentifier</key>
			<string>com.pozdeev.invisor.s3m</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>s3m</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.pozdeev.invisor.audio</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Speex Audio</string>
			<key>UTTypeIdentifier</key>
			<string>com.pozdeev.invisor.speex</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>spx</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.pozdeev.invisor.audio</string>
			</array>
			<key>UTTypeDescription</key>
			<string>True Audio</string>
			<key>UTTypeIdentifier</key>
			<string>com.pozdeev.invisor.tta</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>tta</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.pozdeev.invisor.audio</string>
			</array>
			<key>UTTypeDescription</key>
			<string>WavPack Audio</string>
			<key>UTTypeIdentifier</key>
			<string>com.pozdeev.invisor.wavpack</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>wv</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.pozdeev.invisor.audio</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Extended Module</string>
			<key>UTTypeIdentifier</key>
			<string>com.pozdeev.invisor.xm</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>xm</string>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
