<html>
    <head>
        <style type="text/css" media="screen">
            body
            {
                background-color: #0f0f0f;
                font-size: 11px;
                margin: 20px;
                padding: 5px;
                font-family: LucidaGrande, sans-serif;
                -apple-text-size-adjust: none;
                color: #ececec;
            }
            div #heading
            {
                display: inline-block;
                vertical-align: top;
            }
            table
            {
                font-size: 11px;
            }
            h1
            {
                font-size: 2em;
            }
            h1 #heading
            {
                display: inline-block;
                vertical-align: top;
            }
            h2
            {
                font-size: 120%;
                font-style: italic;
            }
        </style>
    </head>
    <body>
        <div>
            <div id='heading'><img src='cid:torrent_icon.tiff' width='128px' alt='package icon' id='iconimage' />
                <h1 id='heading'>{{ filename }}</h1>
            </div>
            <div id='message'>
                <h2>Unable to read torrent information from this file!</h2>
            </div>
        </div>
    </body>
</html>
