<html>
    <head>
        {{ QLTORRENT_CSS }}
    </head>
    <body>
        <div>
            <div id='heading'><img src='cid:torrent_icon.tiff' width='128px' alt='package icon' id='iconimage' />
                <div id='title'><h1 id='heading'>{{ torrentFileName }}</h1>
                <p>({{ torrentFullPath }})</p></div>
            </div>
            <div id='metadata'>
                <h2>Meta Data:</h2>
                <div class='container'>
                    <dl>
                        <dt>Name:</dt><dd>{{ torrentName }}</dd>
                        <dt>Piece Length:</dt><dd>{{ pieceLength }} bytes ({{ pieceLengthSI }})</dd>
                        <dt>Total Torrent Size:</dt><dd>{{ totalTorrentSize }} bytes ({{ totalTorrentSizeSI }})</dd>
                        <dt>Number of Files:</dt><dd>{{ numberOfFiles }}</dd>
                        <dt>Private:</dt><dd>{{ privateFlagText }}</dd>
                        <dt>Announce:</dt><dd>{{ singleAnnounce }}</dd>
                        <dt>Creation Date:</dt><dd>{{ createdDateString }}</dd>
                        {{# announceListHasItems }}
                        <dt>Announce List:</dt>
                        <dd>
                            <table>
                                {{# announceListItems }}
                                {{ announceList }}
                                {{/ announceListItems }}
                            </table>
                        </dd>
                        {{/ announceListHasItems }}
                        {{# createdByText }}
                        <dt>Created By:</dt><dd>{{ createdByText }}</dd>
                        {{/ createdByText }}
                        {{# commentText }}
                        <dt>Comment:</dt><dd>{{ commentText }}</dd>
                        {{/ commentText }}
                    </dl>
                </div>
            </div>
            <div class='clear'></div>
            <div id='files'>
                {{# fileListHasItems }}
                <h2>Files:</h2>
                <div class='container'>
                    <table>
                        {{# fileListItems }}
                        {{ fileList }}
                        {{/ fileListItems }}
                    </table>
                </div>
                    {{/ fileListHasItems }}
                </div>
            </div>
        </div>
    </body>
</html>
