<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>QLGenerator</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>ca.mcgill.mni.bic.mnc</string>
				<string>org.nema.dicom</string>
				<string>edu.mayo.analyze.image</string>
				<string>edu.mayo.analyze.header</string>
				<string>gov.nih.nifti-1</string>
				<string>com.philips.medical.par</string>
				<string>com.philips.medical.rec</string>
				<string>public.radiance</string>
				<string>com.apple.disk-image-ndif</string>
				<string>org.gnu.gnu-zip-archive</string>
			</array>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>Brainsight</string>
	<key>CFBundleGetInfoString</key>
	<string>2.1, © Rogue Research Inc., 2010</string>
	<key>CFBundleIdentifier</key>
	<string>com.rogue-research.brainsight-quick-look</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Brainsight</string>
	<key>CFBundleShortVersionString</key>
	<string>2.1</string>
	<key>CFBundleVersion</key>
	<string>10023</string>
	<key>CFPlugInDynamicRegisterFunction</key>
	<string></string>
	<key>CFPlugInDynamicRegistration</key>
	<string>NO</string>
	<key>CFPlugInFactories</key>
	<dict>
		<key>087A7927-E69C-4DA1-B1E6-6BC6B48AC7F1</key>
		<string>QuickLookGeneratorPluginFactory</string>
	</dict>
	<key>CFPlugInTypes</key>
	<dict>
		<key>5E2D9680-5022-40FA-B806-43349622E5B9</key>
		<array>
			<string>087A7927-E69C-4DA1-B1E6-6BC6B48AC7F1</string>
		</array>
	</dict>
	<key>CFPlugInUnloadFunction</key>
	<string></string>
	<key>LSMinimumSystemVersion</key>
	<string>10.5</string>
	<key>NSHumanReadableCopyright</key>
	<string>© Rogue Research Inc., 2010</string>
	<key>QLNeedsToBeRunInMainThread</key>
	<true/>
	<key>QLPreviewHeight</key>
	<real>512</real>
	<key>QLPreviewWidth</key>
	<real>512</real>
	<key>QLSupportsConcurrentRequests</key>
	<false/>
	<key>QLThumbnailMinimumSize</key>
	<real>17</real>
	<key>UTImportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>MINC</string>
			<key>UTTypeIdentifier</key>
			<string>ca.mcgill.mni.bic.mnc</string>
			<key>UTTypeReferenceURL</key>
			<string>http://www.bic.mni.mcgill.ca/software/minc/</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<string>MINC</string>
				<key>public.filename-extension</key>
				<array>
					<string>mnc</string>
					<string>minc</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>NIfTI-1</string>
			<key>UTTypeIdentifier</key>
			<string>gov.nih.nifti-1</string>
			<key>UTTypeReferenceURL</key>
			<string>http://nifti.nimh.nih.gov</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<string>NII1</string>
				<key>public.filename-extension</key>
				<array>
					<string>nii</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Analyze 7.5 Header</string>
			<key>UTTypeIdentifier</key>
			<string>edu.mayo.analyze.header</string>
			<key>UTTypeReferenceURL</key>
			<string>http://www.mayo.edu/bir/Software/Analyze/AnalyzeTechInfo.html</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<string>Ahdr</string>
				<key>public.filename-extension</key>
				<array>
					<string>hdr</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Analyze 7.5 Data</string>
			<key>UTTypeIdentifier</key>
			<string>edu.mayo.analyze.image</string>
			<key>UTTypeReferenceURL</key>
			<string>http://www.mayo.edu/bir/Software/Analyze/AnalyzeTechInfo.html</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<string>Aimg</string>
				<key>public.filename-extension</key>
				<array>
					<string>img</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Philips PAR</string>
			<key>UTTypeIdentifier</key>
			<string>com.philips.medical.par</string>
			<key>UTTypeReferenceURL</key>
			<string>http://www.medical.philips.com/</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>par</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Philips REC</string>
			<key>UTTypeIdentifier</key>
			<string>com.philips.medical.rec</string>
			<key>UTTypeReferenceURL</key>
			<string>http://www.medical.philips.com/</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>rec</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>DICOM</string>
			<key>UTTypeIdentifier</key>
			<string>org.nema.dicom</string>
			<key>UTTypeReferenceURL</key>
			<string>http://dicom.nema.org</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<string>DICM</string>
				<key>public.filename-extension</key>
				<array>
					<string>dcm</string>
				</array>
				<key>public.mime-type</key>
				<string>Application/dicom</string>
			</dict>
		</dict>
	</array>
	<key>com.rogue-research.svn_repos_revision</key>
	<string>10023</string>
</dict>
</plist>
